/*added*/

.searchBar, .personPage, .knownFor {
  float: left;
}
.personPage {
  padding: auto;
  width: 40%;
  text-align: center;
}

.knownFor, .searchBar {
  width: 30%;
  text-align: left;
}

.searchButtons, .searchBar, .searchForm, .personRight, .introMessage{
  text-align: center;
  align-items: center;
}

/* Pagination */
.pageButton {
  margin: 0 5px;
  border: none;
  border-radius: 25px;
  background-color: #808080 ; 
  transition: all 0.2s ease;
}

/* Highlight active page button */
.pageButton.active {
  background-color: #cccccc;
}

/* Highlight hovering page button */
.pageButton:hover {
  background-color: #8d8d8d;
  color: #fff;
  transform: scale(1.25);
}

/* Search input field */
.search {
  outline: none;
  border: 1px solid #808080;
  padding: 8px;
  width: 250px;
  border-radius: 25px;
}

.searchForm button {
  padding: 5px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 25px;
  background-color: #808080;
  color: white;
  transition: all 0.3s ease;
}

.searchForm button:hover {
  background-color: #a9a9b396;
  transform: scale(1.15);
}

.largePicture {
  width: 150;
  height: 200;
}

