/*added*/
.searchBar, .personPage, .knownFor {
  float: left;
}
.personPage {
  padding: auto;
  width: 40%;
  text-align: center;
}

.knownFor, .searchBar {
  width: 30%;
  text-align: left;
}

.searchButtons, .searchBar, .searchForm, .personRight, .introMessage{
  text-align: center;
  align-items: center;
}

.pageButton {
  width: 40px;
}

.search {
  margin-right: 10px;
  margin-top: 1px;
}

.largePicture {
  width: 150;
  height: 200;
}

